[submodule "src/wrf_hydro_nwm"]
	path = src/wrf_hydro_nwm
	url = https://github.com/NESII/wrf_hydro_nwm_public.git
	branch = master
[submodule "src/LISF"]
	path = src/LISF
	url = https://github.com/NESII/LISF.git
	branch = feature/NUOPC
[submodule "src/parflow"]
	path = src/parflow
	url = https://github.com/NESII/parflow.git
	branch = feature/NUOPC
